In [3]:
import pandas as pd
from datetime import datetime

In [6]:
file = "content\data.csv"
df = pd.read_csv(file)
df['fecha'] = df['Created'].str.split(' ').str[0]
# df['fecha'] = pd.to_datetime(df['fecha'])
df['nombre'] = df['solicitante']
df = df[df['Producto'] == 'PROTECTOR LABIAL SUNSTOP ']
df = df[df['estado'] == 'Aprobado']
df = df[df['entregado'] == 'SÃ­']
df = df[['fecha', 'nombre', 'cantidad']]
df = df.sort_values(by='cantidad', ascending=False)
df.head()

           fecha                          nombre  cantidad
2239   5/04/2025      Miguel Angel Rendon Medina       2.0
1333  25/07/2025    Julian Camilo Garcia Moncada       2.0
2160  10/04/2025   Fabian Aicardo Giraldo Vargas       1.0
2118  16/04/2025  Eliana Del Pilar Taborda Uribe       1.0
2090  21/04/2025    Bryan Jeffrey Buitrago Lopez       1.0

In [7]:
df_agrupado = df.groupby(['nombre'])['fecha'].apply(list).reset_index()
df_agrupado['Cantidad'] = df_agrupado['fecha'].apply(len)
df_agrupado = df_agrupado.sort_values(by='Cantidad', ascending=False)
df_agrupado.head()

,nombre,fecha,Cantidad
42,Luisa Fernanda Bermudez,"[3/04/2025, 12/08/2025, 11/07/2025, 6/08/2025]",4
15,Eliana Del Pilar Taborda Uribe,"[16/04/2025, 3/09/2025, 7/12/2025]",3
41,Luisa Alejandra Espinosa Chaverra,"[30/03/2025, 2/11/2025, 8/08/2025]",3
6,Antonio Alexander Henao Marulanda,"[30/03/2025, 6/09/2025, 9/12/2025]",3
50,Miguel Angel Rendon Medina,"[5/04/2025, 1/04/2025, 5/04/2025]",3

In [9]:

df_agrupado.to_csv(f"content/ProtectorLabial{datetime.now().strftime('%Y%m%d%H%M%S')}.csv", index=False)