In [1]:
pip install bar_chart_race

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: bar_chart_race in c:\users\empre\appdata\roaming\python\python39\site-packages (0.1.0)
Requirement already satisfied: pandas>=0.24 in c:\programdata\anaconda3\lib\site-packages (from bar_chart_race) (1.4.2)
Requirement already satisfied: matplotlib>=3.1 in c:\programdata\anaconda3\lib\site-packages (from bar_chart_race) (3.5.1)
Requirement already satisfied: cycler>=0.10 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (4.25.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (1.3.2)
Requirement already satisfied: numpy>=1.17 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (1.21.5)
Requirement already satisfied: packaging>=20.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (21.3)
Requirement already satisfied: pillow>=6.2.0 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (9.0.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (3.0.4)
Requirement already satisfied: python-dateutil>=2.7 in c:\programdata\anaconda3\lib\site-packages (from matplotlib>=3.1->bar_chart_race) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\programdata\anaconda3\lib\site-packages (from pandas>=0.24->bar_chart_race) (2021.3)
Requirement already satisfied: six>=1.5 in c:\programdata\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.1->bar_chart_race) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 25.1.1 -> 25.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [58]:
import csv
import pandas as pd
import numpy as np
from datetime import datetime
import bar_chart_race as bcr

In [59]:
df = pd.read_csv('content/007.tablaConsumoBeneficioParques.csv')
df['Fecha'] = df['Created'].str.split(' ', expand=True)[0]
df['Fecha'] = pd.to_datetime(df['Fecha'], format='%d/%m/%Y')
df['Fecha'] = df['Fecha'].dt.strftime('%Y-%m-%d')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30000 entries, 0 to 29999
Data columns (total 14 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   ID                30000 non-null  int64
 1   Title             29999 non-null  object
 2   opcion            30000 non-null  object
 3   tipoAlimentacion  30000 non-null  object
 4   nombre            30000 non-null  object
 5   ceco              30000 non-null  int64
 6   Fecha             30000 non-null  object
 7   Modified          30000 non-null  object
 8   Modified By       30000 non-null  object
 9   Created           30000 non-null  object
 10  Created By        30000 non-null  object
 11  Title.1           29999 non-null  object
 12  rol               29946 non-null  object
 13  sedeColaborador   28449 non-null  object
dtypes: int64(2), object(12)
memory usage: 3.2+ MB

In [62]:
df['Tienda'] = df['opcion'].str.split(':', expand=True)[0].str.title()
df['Sede']  = df['Title']
df['Tipologia'] = df['tipoAlimentacion']
df_refinado = df[['Fecha','Sede', 'Tienda', 'Tipologia','nombre']]
df_refinado.head()

,Fecha,Sede,Tienda,Tipologia,nombre
0,2025-12-19,Arv,Tienda Yurley Zapata,LiquidoPm,Juliana Monsalve Benavides
1,2025-12-19,Zun,Newrest,LiquidoPm,Luis Alfredo Garcia Reyes
2,2025-12-19,Zun,Newrest,LiquidoComplemento,Luis Alfredo Garcia Reyes
3,2025-12-19,Zun,Newrest,Minuta,Luis Alfredo Garcia Reyes
4,2025-12-19,Est,La Estrella Doña Ana,LiquidoComplemento,Luz Adriana Gomez Serna