In [97]:
import pandas as pd
from datetime import datetime

In [89]:
file = "content\data.csv"
df = pd.read_csv(file)
df['fecha'] = df['Created'].str.split(' ').str[0]
# df['fecha'] = pd.to_datetime(df['fecha'])
df['nombre'] = df['solicitante']
df = df[df['Producto'] == 'FOTOPROTECTOR 50 ISDIN']
df = df[df['estado'] == 'Aprobado']
df = df[df['entregado'] == 'Sí']
df = df[['fecha', 'nombre', 'cantidad']]
df = df.sort_values(by='cantidad', ascending=False)
df.head()

           fecha                         nombre  cantidad
2244   5/04/2025     Miguel Angel Rendon Medina       2.0
8     19/12/2025          Daniela Marin Montoya       1.0
1928  11/05/2025    Derman Andres Molina Molina       1.0
1609  16/06/2025  Roman Dario Vasquez Atehortua       1.0
1645  17/06/2025        Adriana Martinez Botero       1.0

In [99]:
df_agrupado = df.groupby(['nombre'])['fecha'].apply(list).reset_index()
df_agrupado['Cantidad'] = df_agrupado['fecha'].apply(len)
df_agrupado = df_agrupado.sort_values(by='Cantidad', ascending=False)
df_agrupado.head()

,nombre,fecha,Cantidad
34,Luisa Fernanda Bermudez,"[3/04/2025, 6/08/2025, 11/07/2025]",3
42,Rogelio De Jesus Gallego Zuleta,"[2/05/2025, 25/07/2025]",2
5,Bernardo Alonso Ramirez Seguro,"[9/04/2025, 2/09/2025]",2
10,David Humberto Betancur Holguin,"[10/05/2025, 26/08/2025]",2
46,Sebastian Londoño Gallo,"[11/05/2025, 22/07/2025]",2

In [98]:


df_agrupado.to_csv(f"content/fotoProtector{datetime.now().strftime('%Y%m%d%H%M%S')}.csv", index=False)